<form action="/new" method="POST">

	<h2>Testing (Create New Page)</h2>

	<div class="input-field">
		<input type="text" name="title">
		<label>New Item</label>
	</div>

	<button type="submit" class="btn">New</button>
</form>